@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background: #eef4f9;
  /* overflow: hidden; */
}
.home-body {
  height: 100vh;
}

audio {
  width: 100%;
  outline: none;
}

.scroll {
  height: 100%;
  overflow: auto;
}
.curser {
  cursor: pointer;
}
.active {
  color: rgb(139, 45, 45) !important;
}
